@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap');
@layer base{
    body {
        @apply font-[monospace];
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

.content-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: center;
    height: 250px;

}

.content-div:hover{
    background-image: linear-gradient(
            rgba(250, 182, 32, 0.8),
            hsla(41, 95%, 63%, 0.8)
    ) !important
}